<div class="" style="margin: 20px 0">
  <%= link_to 'New', new_tutorial_path, class: "btn btn-default", style: "width: 49.1111%" %>
  <%= link_to 'My', my_tutorials_path, class: "btn btn-default", style: "width: 49.1111%" %>
</div>
<h1>Listing All</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Followers</th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= link_to tutorial.title, tutorial_path(tutorial) %></td>
        <td><%= tutorial.user.name %></td>
        <td><%= tutorial.category.name %></td>
        <td><%= tutorial.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
