<div class="" style="margin: 20px 0">
  <%= link_to 'New', new_tutorial_path, class: "btn btn-default", style: "width: 49.1111%" %>
  <%= link_to 'All', tutorials_path, class: "btn btn-default", style: "width: 49.1111%" %>
</div>
<h1>Listing My</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Followers</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= link_to tutorial.title, tutorial_path(tutorial) %></td>
        <td><%= tutorial.category.name %></td>
        <td><%= tutorial.followers.count %></td>
        <td ><%= link_to 'Edit', edit_tutorial_path(tutorial), class: "btn-info btn-sm" %></td>
        <td ><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
