<% if @is_student == false %>
  <a href="<%= follow_tutorial_path %>" class="btn btn-success btn-sm">Follow</a>
<% elsif @is_student == true %>
  <a href="<%= unfollow_tutorial_path %>" class="btn btn-danger btn-sm">Unollow</a>
<% end %>

<% if @user_like != true %>
  <a href="<%= like_tutorial_path %>" class="btn btn-success btn-sm">Like</a>
<% else %>
  <a href="<%= unlike_tutorial_path %>" class="btn btn-danger btn-sm">Unlike</a>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @tutorial.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tutorial.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>

<hr>

<div>BOOTSTRAP THIS
  <%= render "show_step" %>
</div>

<div>BOOTSTRAP TOGGLE THIS
	<%= render "form_for_step" %>
</div>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
